%btn {
    height: 40px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px rgb(250, 248, 248);
    margin: 5px;
    cursor: pointer;
}

.btn- {
    &primary, &success, &danger {
        @extend %btn;
    }
    &primary {
        background-color: $secondColor;
    }
    &success {
        background-color: $mainColor;
    }
    &danger {
        background-color: $fiveColor;
    }
}

.botones {
    h4 {
        color: $thirdColor;
    }
}